# NOT HUMANS CLOCKWORK ENVIRONMENT VALUES
CLASH_API_KEY=
CLASH_API_BASE_URL=
FIXIE_URL=

# SOVEREIGN WEB PUSH CONFIGURATIONS
VAPID_PUBLIC_KEY="BPiuU0uS-HwKNyXmj6atyzhXmcRn3AHhcGyT_FF2stg-W9bUQTS4Bhb6PUwasUp2MxM0x2Cu9mWFEohIPwiPxAk"
VAPID_PRIVATE_KEY=""
